<p appUnderline>lorem ips</p>

<!-- Le pipes sono operazioni fatte in fase di viusualizzazione delle proprietà per indicare come i dati devono essere visualizzati.
Quindi ci permette di modificare quello che si vede nell'html senza modificare la proprietà stessa -->
<!-- La pipe si attiva con l'operatore {{prop | nomePipe}} -->
<h1>Oggi è il {{oggi | date:'shortDate'}} </h1>

<h2>Prezzo totale {{totale | currency:'EUR'}}</h2>

<!-- ng g pipe NomePipe -->
<p>{{parola | reverse}}</p>



<router-outlet></router-outlet>
